     main{
        background-color: #EBEBEB;
        display: inline-block;
        width: 800px;
        margin-left: calc((100% - 800px) / 2);
        font-family: sans-serif;
    }
        section {
            display: inline-block;
            margin-top: 40px;
            margin-bottom: 40px;
        }
           section> div:first-of-type {
                background-color: white;
                display: inline-block;
                width: 27%;
                float: left;
                margin-left: 5.5%;
                text-align: center;

                }
                img{
                    display: inline-block;
                }
                h4{
                    display: inline-block;
                    margin: 0;
                    margin-top: 20px;
                }
                ul{
                    display: inline-block;
                    font-size: 12px;
                    line-height: 1.7;
                    margin-left: 66px;
                    margin-right: 23px;
                    padding: 0;
                    text-align: left;
                }
                }
                section > div:first-of-type > div {
                    display: inline-block;
                    margin-top: 50px;
                    margin-bottom: 20px;

                }
                    span{
                        display: inline-block;
                        font-size: 28px;
                    }
                a{
                    display: inline-block;
                    text-decoration: none;
                    background-color: #6871F2;
                    color: white;
                    font-size: 12px;
                    padding: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 25px;
                    margin-bottom: 30px;
                }
            section > div:nth-child(2){
                background-color: white;
                display: inline-block;
                width: 27%;
                float: left;
                margin-left: 4%;
                text-align: center;
            }
                
                img{
                    display: inline-block;
                    margin-top: 25px;
                }
                section > div:nth-child(2) > h4{
                    display: inline-block;
                    margin: 0;
                    margin-top: 37px;
                }
                ul{
                    display: inline-block;
                    font-size: 12px;
                    line-height: 1.7;
                    margin-left: 66px;
                    margin-right: 23px;
                    padding: 0;
                    text-align: left;
                    
                }
                section > div:nth-child(2) > div{
                    display: inline-block;
                    width: 100%;
                    margin-top: 48px;
                    margin-bottom: 20px;
                }
                    span{
                        display: inline-block; 
                    }
                a{
                    display: inline-block;
                    text-decoration: none;
                    background-color: #6871F2;
                    color: white;
                    font-size: 12px;
                    padding: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 25px;
                    margin-bottom: 30px;
                }
            section > div:last-of-type {
                background-color: white;
                display: inline-block;
                width: 27%;
                float: right;
                margin-right: 5.5%;
                text-align: center;
                
            }
                img{
                    display: inline-block;
                    margin-top: 30px; 
                }
                section > div:last-of-type > h4{
                    display: inline-block;
                    margin: 0;
                    margin-top: 32px;
                }
                ul{
                    display: inline-block;
                    font-size: 12px;
                    line-height: 1.7;
                    margin-left: 66px;
                    margin-right: 23px;
                    padding: 0;
                    text-align: left;
                }
                section > div:last-of-type > div{
                    display: inline-block;
                    width: 100%;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
                    span{
                        display: inline-block;

                    }
                a{
                    display: inline-block;
                    text-decoration: none;
                    background-color: #6871F2;
                    color: white;
                    font-size: 12px;
                    padding: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 25px;
                    margin-bottom: 30px;
                }
